body {
    background-color: rgba(219, 202, 176, 0.575);
    font-family: "Lexend", sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: rgba(0, 0, 0, 0.781);
}

h3 {
    color: rgba(0, 0, 0, 0.781);
}

li {
    color: rgba(0, 0, 0, 0.781);
}
